@use '../abstracts/variables' as *;

.gly-blog-1 {
    &-area {
        background: #000;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.4fr;
        gap: 40px;
        margin-left: -130px;
        margin-right: -130px;

        @media #{$xxl,$xl} {
            margin-left: 0px;
            margin-right: 0px;
            grid-template-columns: 1fr 1fr;
        }

        @media #{$lg,$md,$xs} {
            margin-left: 0px;
            margin-right: 0px;
            grid-template-columns: 1fr;
        }
    }

    &-section-title {
        text-align: right;
    }

    &-item {

        display: flex;
        align-items: center;
        gap: 40px;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        &:not(:last-child) {
            margin-bottom: 60px;
        }

        .main-img-border {
            flex: 0 0 auto;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid transparent;
            background-clip: padding-box;
            background: var(--gly-gd-1);

            @media #{$xxl} {
                width: 250px;
                height: 250px;
            }
            @media #{$xl} {
                width: 200px;
                height: 200px;
            }
            @media #{$md} {
                width: 250px;
                height: 250px;
            }
            @media #{$xs} {
                width: 200px;
                height: 200px;
            }
        }

        .main-img {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 50%;
            padding: 20px;
            background: #000;
            transition: 400ms var(--cube-1);

            img {
                border-radius: 50%;
            }
        }

        .blog-date {
            font-size: 12px;
            text-transform: capitalize;
            display: inline-block;
            background: var(--gly-gd-1);
            padding: 8px 14px;
            border-radius: 30px;
            margin-bottom: 10px;

            i {
                margin-right: 5px;
            }
            
        }

        .blog-title {
            font-size: 45px;
            line-height: 1.11;
            margin-bottom: 15px;
            transition: 400ms var(--cube-1);

            @media #{$xxl} {
                font-size: 40px;
            }
            @media #{$xl} {
                font-size: 35px;
            }
            @media #{$md} {
                font-size: 30px;
            }
            @media #{$xs} {
                font-size: 22px;
            }
            @media #{$sm} {
                font-size: 26px;
            }

            &:hover {
                color: var(--gly-pr-1);
                transform: skewX(5deg);
            }
        }

        .blog-disc {
            font-weight: 500;
        }

        &:hover {
            .main-img {
                padding: 0;
            }
        }
        
    }
}



