@use '../abstracts/variables' as *;
/* 
    blog-1-css-start
*/
.gly-blog-1 {

    &-bg-img {
        position: absolute;
        left: 0;
        bottom: 10%;
        z-index: -1;
        width: 60%;

        @media #{$lg,$md,$xs} {
            bottom: unset;
            top: 0;
            
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.4fr;
        gap: 40px;
        margin-left: -130px;
        margin-right: -130px;

        @media #{$xxl,$xl} {
            margin-left: 0px;
            margin-right: 0px;
            grid-template-columns: 1fr 1fr;
        }

        @media #{$lg,$md,$xs} {
            margin-left: 0px;
            margin-right: 0px;
            grid-template-columns: 1fr;
        }
    }

    &-section-title {
        text-align: right;
    }

    &-item {

        display: flex;
        align-items: center;
        gap: 40px;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        &:not(:last-child) {
            margin-bottom: 60px;
        }

        .main-img-border {
            flex: 0 0 auto;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid transparent;
            background-clip: padding-box;
            background: var(--gly-gd-1);

            @media #{$xxl} {
                width: 250px;
                height: 250px;
            }
            @media #{$xl} {
                width: 200px;
                height: 200px;
            }
            @media #{$md} {
                width: 250px;
                height: 250px;
            }
            @media #{$xs} {
                width: 200px;
                height: 200px;
            }
        }

        .main-img {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 50%;
            padding: 20px;
            background: #000;
            transition: 400ms var(--cube-1);

            img {
                border-radius: 50%;
            }
        }

        .blog-date {
            font-size: 12px;
            text-transform: capitalize;
            display: inline-block;
            background: var(--gly-gd-1);
            padding: 8px 14px;
            border-radius: 30px;
            margin-bottom: 10px;

            i {
                margin-right: 5px;
            }
            
        }

        .blog-title {
            font-size: 45px;
            line-height: 1.11;
            margin-bottom: 15px;
            transition: 400ms var(--cube-1);

            @media #{$xxl} {
                font-size: 40px;
            }
            @media #{$xl} {
                font-size: 35px;
            }
            @media #{$md} {
                font-size: 30px;
            }
            @media #{$xs} {
                font-size: 22px;
            }
            @media #{$sm} {
                font-size: 26px;
            }

            &:hover {
                color: var(--gly-pr-1);
                transform: skewX(5deg);
            }
        }

        .blog-disc {
            font-weight: 500;
        }

        &:hover {
            .main-img {
                padding: 0;
            }
        }
        
    }
}

/* 
    blog-1-css-end
*/

/* 
    blog-2-css-start
*/


.gly-blog-2-item {
    border-radius: 30px;
    border: 2px solid #222222;
    padding: 30px 40px;
    margin-bottom: 30px;

    @media #{$xl,$lg,$md,$xs} {
        padding: 30px 20px;
    }

    &-meta  {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 20px;

        .title , i {
            color: #0a0d14;
            font-size: 14px;
            display: inline-block;
        }
    }

    .main-img {
        height: 285px;
        overflow: hidden;
        border-radius: 30px;
        margin-bottom: 23px;

        img {
            transition: 400ms var(--cube-2);
        }
    }

    .blog-title {
        font-size: 23px;
        line-height: 1.39;
        transition: 400ms var(--cube-1);
        background: var(--gly-gd-1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: #0a0d14;
        color: transparent;

        @media #{$xl,$lg,$md,$xs} {
            font-size: 20px;
        }

        &:hover {
            -webkit-text-fill-color: transparent;
            transform: skewX(5deg);
        }
    }

    &:hover {
        .main-img {
            img {
                transform: rotateX(20deg) scale3d(1.1, 1.1, 1.33);
            }
        }
    }
    
}





/* 
    blog-2-css-end
*/


/* 
    blog-3-css-start
*/

.gly-blog-3 {
    &-area {
        position: relative;
        z-index: 1;
    }

    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
    }

    &-section-title {
        max-width: 785px;
        margin-left: auto;
        margin-right: auto;
    }
}


.gly-blog-3-card {
    margin-bottom: 30px;

    .card-img {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 350px;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 25px;

        &::after {
            content: "";
            width: 0%;
            height: 100%;
            background: var(--gly-pr-2);
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 1;
            transition: 400ms var(--cube-1);
        }
    }

    .card-meta {
        position: absolute;
        top: 0;
        left: 0;
        background: #E5E9FB;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        gap: 10px;
        padding: 15px 0;
        z-index: 2;
        transition: 400ms var(--cube-1);
    }

    .meta-item {
        font-size: 16px;
        line-height: 22px;
        writing-mode: vertical-rl;
        transition: 400ms var(--cube-1);
        
        i {
            margin-right: 5px;
            display: inline-block;
            transform: rotate(90deg);
        }
    }

    .card-btn-position {
        position: absolute;
        right: 0;
        bottom: 0;
        padding-top: 25px;
        padding-left: 25px;
        z-index: 2;
        transition: 400ms var(--cube-1);

        img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
    
    .card-btn {
        width: 74px;
        height: 74px;
        border-radius: 50%;
        background: #484655;
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        line-height: 1;
        font-size: 34px;
        color: #fff;
        transition: 400ms var(--cube-2);

        &:hover {
            transform: rotate(45deg);
        }
    }
    
    .card-title {
        font-size: 27px;
        line-height: 1.33;
        margin-bottom: 15px;

        @media #{$xl,$lg,$md,$xs} {
            font-size: 22px;
        }

        a {
            display: inline;
            background-image: linear-gradient(#0F0D1E, #0F0D1E);
            background-position: left bottom;
            background-size: 0% 1.5px;
            background-repeat: no-repeat;
            transition: 400ms var(--cube-1);

        }

        &:hover {
            a {
                background-size: 100% 1px;
            }
        }
    }

    &:hover {
        .card-img {
            &::after {
                width: 100%;
                opacity: .2;
            }
        }
        .card-meta {
            background: var(--gly-pr-2);
        }
        .meta-item {
            color: #fff;
        }
        .card-btn {
            background: var(--gly-pr-2);
        }
    }
    
}


/* 
    blog-3-css-end
*/

