@use '../abstracts/variables' as *;
/* 
    blog-1-css-start
*/
.gly-blog-1 {
    &-area {
        background: #000;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.4fr;
        gap: 40px;
        margin-left: -130px;
        margin-right: -130px;

        @media #{$xxl,$xl} {
            margin-left: 0px;
            margin-right: 0px;
            grid-template-columns: 1fr 1fr;
        }

        @media #{$lg,$md,$xs} {
            margin-left: 0px;
            margin-right: 0px;
            grid-template-columns: 1fr;
        }
    }

    &-section-title {
        text-align: right;
    }

    &-item {

        display: flex;
        align-items: center;
        gap: 40px;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        &:not(:last-child) {
            margin-bottom: 60px;
        }

        .main-img-border {
            flex: 0 0 auto;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid transparent;
            background-clip: padding-box;
            background: var(--gly-gd-1);

            @media #{$xxl} {
                width: 250px;
                height: 250px;
            }
            @media #{$xl} {
                width: 200px;
                height: 200px;
            }
            @media #{$md} {
                width: 250px;
                height: 250px;
            }
            @media #{$xs} {
                width: 200px;
                height: 200px;
            }
        }

        .main-img {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 50%;
            padding: 20px;
            background: #000;
            transition: 400ms var(--cube-1);

            img {
                border-radius: 50%;
            }
        }

        .blog-date {
            font-size: 12px;
            text-transform: capitalize;
            display: inline-block;
            background: var(--gly-gd-1);
            padding: 8px 14px;
            border-radius: 30px;
            margin-bottom: 10px;

            i {
                margin-right: 5px;
            }
            
        }

        .blog-title {
            font-size: 45px;
            line-height: 1.11;
            margin-bottom: 15px;
            transition: 400ms var(--cube-1);

            @media #{$xxl} {
                font-size: 40px;
            }
            @media #{$xl} {
                font-size: 35px;
            }
            @media #{$md} {
                font-size: 30px;
            }
            @media #{$xs} {
                font-size: 22px;
            }
            @media #{$sm} {
                font-size: 26px;
            }

            &:hover {
                color: var(--gly-pr-1);
                transform: skewX(5deg);
            }
        }

        .blog-disc {
            font-weight: 500;
        }

        &:hover {
            .main-img {
                padding: 0;
            }
        }
        
    }
}

/* 
    blog-1-css-end
*/

/* 
    blog-2-css-start
*/


.gly-blog-2-item {
    border-radius: 30px;
    border: 2px solid #222222;
    padding: 30px 40px;
    margin-bottom: 30px;

    @media #{$xl,$lg,$md,$xs} {
        padding: 30px 20px;
    }

    &-meta  {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 20px;

        .title , i {
            color: #0a0d14;
            font-size: 14px;
            display: inline-block;
        }
    }

    .main-img {
        height: 285px;
        overflow: hidden;
        border-radius: 30px;
        margin-bottom: 23px;
    }

    .blog-title {
        font-size: 23px;
        line-height: 1.39;
        transition: 400ms var(--cube-1);
        background: var(--gly-gd-1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: #0a0d14;
        color: transparent;

        @media #{$xl,$lg,$md,$xs} {
            font-size: 20px;
        }

        &:hover {
            -webkit-text-fill-color: transparent;
            transform: skewX(5deg);
        }
    }
    
}





/* 
    blog-2-css-end
*/

