@use '../abstracts/variables' as *;

/* 
    all-button-css-start
*/

/* 
    chat-btn-1-start 
*/
.gly-chat-btn-1 {
    display: inline-block;
    flex:  0 0 auto;
    font-family: var(--gly-sd-font);
    font-size: 20px;
    background: var(--gly-gd-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 400ms var(--cube-2);
    position: relative;
    z-index: 2;

    i {
        display: inline-block;
        margin-right: 1px;
        transition: 400ms var(--cube-2);
    }

    &:hover {
        -webkit-text-fill-color: #fff;
    }

}
/* 
    chat-btn-1-end 
*/

/* 
    search-btn-1-start 
*/
.gly-search-btn-1 {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    line-height: 1;
    font-size: 24px;
    flex: 0 0 auto;
    transition: 400ms var(--cube-1);
    position: relative;
    z-index: 2;

    &:hover {
        color: var(--gly-pr-1);
    }

    &:is(.has-black) {
        color: #121111;

        &:hover {
            color: var(--gly-pr-1);
        }
    }
}
/* 
    search-btn-1-end 
*/

/* 
    cart-btn-1-start 
*/
.gly-cart-btn-1 {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    line-height: 1;
    font-size: 24px;
    flex: 0 0 auto;
    transition: 400ms var(--cube-1);
    position: relative;
    z-index: 2;

    .count {
        font-size: 10px;
        font-weight: 600;
        font-family: var(--gly-pr-font);
        color: #121111;
        position: absolute;
        left: -5px;
        top: -12px;
        transition: 400ms var(--cube-1);
    }

    &:hover {
        color: var(--gly-pr-1);

        .count {
            color: var(--gly-pr-1);
        }
    }



    &:is(.has-black) {
        color: #121111;

        &:hover {
            color: var(--gly-pr-1);
        }
    }
}
/* 
    cart-btn-1-end 
*/


/* 
    mobile-menu-btn-1-start 
*/
.gly-mobile-menu-btn-1 {
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
    flex: 0 0 auto;
    width: 28px;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 500ms var(--cube-1);
    position: relative;
    z-index: 1;
    
    span {
        display: block;
        background: #fff;
        width: 100%;
        height: 3px;
        transition: 500ms var(--cube-1);
    }
    &:focus {

        span {
            &:nth-child(2) {
                transform: translateY(-4px) rotate(308deg);
            }   
            &:nth-child(1) {
                transform: translateY(3px) rotate(45deg);

            }   
        }
    }
    &:hover {
        span {
            &:nth-child(2) {
                transform: translateY(-4px) rotate(308deg);
            }   
            &:nth-child(1) {
                transform: translateY(3px) rotate(45deg);

            }   
        }
    }
}
/* 
    mobile-menu-btn-1-end 
*/


/* 
    mobile-menu-btn-2-start 
*/
.gly-mobile-menu-btn-2 {
    overflow: hidden;
    border: none;
    outline: none;
    padding: 18px 15px;
    background: var(--gly-gd-1);
    flex: 0 0 auto;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 500ms var(--cube-1);
    position: relative;
    z-index: 1;
    
    span {
        display: block;
        background: #fff;
        width: 100%;
        height: 4.5px;
        transition: 500ms var(--cube-1);
        border-radius: 5px;
    }
    &:focus {

        span {
            &:nth-child(2) {
                transform: translateX(50px) rotate(0deg);
            }   
            &:nth-child(3) {
                transform: translateY(-6px) rotate(308deg);
            }   
            &:nth-child(1) {
                transform: translateY(7px) rotate(45deg);
            }     
        }
    }
    &:hover {
        span {
            &:nth-child(2) {
                transform: translateX(50px) rotate(0deg);
            }   
            &:nth-child(3) {
                transform: translateY(-6px) rotate(308deg);
            }   
            &:nth-child(1) {
                transform: translateY(7px) rotate(45deg);

            }   
        }
    }
}
/* 
    mobile-menu-btn-2-end 
*/

/* 
    pr-btn-1-start 
*/
.gly-pr-btn-1 {
    display: inline-block;
    flex: 0 0 auto;
    font-family: var(--gly-pr-font);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    background: var(--gly-gd-1);
    color: #fff;
    line-height: 1;
    padding: 22px 44px;
    border-radius: 40px;
    transition: 300ms var(--cube-2);
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::after {
        position: absolute;
        content: "";
        background-color: rgb(255 255 255 / 20%);
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        transition: 400ms var(--cube-1);
        border-radius: 40px;
        z-index: -1;
    }

    .text {
        display: inline-block;
    }

    &:hover {
        color: #fff;
        transform: scale(105%);

        &::after {
            left: 0%;
        }
        .text {
            animation: tilt-shaking .5s linear;

        }
    }

}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}

@keyframes shakeup {
    0% {
      transform: translate(0, 3px);
    }
    50% {
      transform: translate(0, -3px);
    }
    100% {
      transform: translate(0, 0);
    }
}


/* 
    pr-btn-1-end 
*/

/* 
    pr-btn-2-start 
*/
.gly-pr-btn-2 {
    display: inline-block;
    font-family: var(--gly-pr-font);
    font-weight: 900;
    font-size: 18px;
    color: var(--gly-heading-1);
    position: relative;
    z-index: 1;
    padding: 17px 30px;
    border-radius: 52px;
    line-height: 1;
    transition: 400ms var(--cube-1);


    &::after {
        content: "";
        width: 52px;
        height: 100%;
        background: var(--gly-gd-1);
        position: absolute;
        top: 0;
        right: -10px;
        border-radius: 50px;
        z-index: -1;
        transition: 400ms var(--cube-1);
    }

    i {
        font-size: 14px;
        transform: translateX(20px);
        display: inline-block;
        line-height: 1;
        color: #fff;
        transition: 400ms var(--cube-1);
        margin-left: 5px;
    }

    &:hover {
        color: #fff;
        i {
            transform: translateX(0px);
        }
        &::after {
            width: 100%;
            right: 0;
        }
    }
}

/* 
    pr-btn-2-end 
*/


/* 
    pr-btn-3-start
*/

.gly-pr-btn-3 {
    font-family: var(--montserrat);
    display: inline-block;
    flex: 0 0 auto;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    padding: 15px 30px;
    border-radius: 11px;
    background: #1042F2;
    transition: 400ms var(--cube-1);

    i {
        margin-left: 3px;
        font-weight: 600;
    }

    .text {
        display: inline-block;
    }

    &:hover {
        color: #fff;
        transform: scale(95%);

        &::after {
            left: 0%;
        }
        .text {
            animation: tilt-shaking .5s linear;

        }
    }

    &:is(.has-border) {
        border: 1px solid #fff;
        background: transparent;

        &:hover {
            background: #1042F2;
            border-color: transparent;
        }
    }

    &:is(.has-border-color) {
        border: 1px solid var(--gly-pr-2);
        background: transparent;
        color: var(--gly-pr-2);
        &:hover {
            background: #1042F2;
            border-color: transparent;
            color: #fff;
        }
    }
}

/* 
    pr-btn-3-end
*/


/* 
    gd-border-btn-1-start 
*/
.gd-border-btn-1 {
    background: var(--gly-gd-1);
    display: inline-block;
    border-radius: 50px;
    border: none;
    outline: none;
    flex: 0 0 auto;

    .gd-border {
        display: inline-block;
        font-family: var(--gly-pr-font);
        font-weight: 600;
        background-clip: padding-box;
        text-transform: capitalize;
        color: #fff;
        line-height: 1;
        border: 1px solid transparent;
        font-size: 16px;
        padding: 16px 37px;
        border-radius: 50px;
        background-color: #000;
        transition: 400ms var(--cube-1);

        i {
            margin-left: 3px;
            font-size: 10px;
            display: inline-block;
            position: relative;
            top: -1px;
            transition: 400ms var(--cube-2);
        }
    }

    &:is(.has-color-2) {
        background: linear-gradient(90deg, rgba(10,172,144,1) 0%, rgba(12,61,207,1) 50%, rgba(11,189,156,1) 100%);
    }

    &:is(.has-color-3) {
        background: linear-gradient(90deg, rgba(169,14,109,1) 0%, rgba(12,61,207,1) 50%, rgba(59,63,199,1) 100%);
    }

    &:hover {
        .gd-border {
            background-color: transparent;
            i {
                transform: rotate(360deg);
            }
        }
    }

    
}
/* 
    gd-border-btn-1-end 
*/


/* 
    arrow-btn-1-css-start
*/
.gly-arrow-btn-1 {
    width: 68px;
    height: 68px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 20px;
    color: #000;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    transition: 400ms var(--cube-2);
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: var(--gly-gd-1);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        transition: 400ms var(--cube-1);
    }

    i {
        display: inline-block;
        line-height: 1;
        margin-top: 6px;
    }

    &:hover {
        transform: rotate(45deg);
        color: #fff;
        background: transparent;
        &::after {
            opacity: 1;
        }
    }
}

/* 
    arrow-btn-1-css-end 
*/

/* 
    phone-btn-1-css-end 
*/

.gly-phone-btn-1 {
    display: flex;
    align-items: center;
    gap: 15px;

    &-icon {
        display: inline-block;
        flex: 0 0 auto;
        width: 56px;
        height: 56px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #1042F2;
        color: #fff;
        font-size: 20px;
        line-height: 1;
        transition: 400ms var(--cube-2);
    }

    &-text {
        .title {
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            opacity: 70%;
            display: block;
            line-height: 24px;
        }
        .number {
            display: inline-block;
            font-size: 20px;
            line-height: 24px;
            color: #fff;
            transition: 400ms var(--cube-2);

            &:hover {
                transform: translateX(3px);
                color: var(--gly-pr-2);
            }
        }
        
    }

    &:hover {
        .gly-phone-btn-1-icon {
            transform: scale(95%);
            i {
                animation: tilt-shaking 0.4s linear;

            }
        }
    }
    
}
/* 
    phone-btn-1-css-end 
*/

/* 
    ply-btn-2-css-start
*/


.gly-ply-btn-2 {
    display: inline-flex;
    align-items: center;
    gap: 25px;

    &-icon {
        display: inline-flex;
        width: 60px;
        height: 60px;
        background: #F99B36;
        justify-content: center;
        align-items: center;
        line-height: 1;
        font-size: 22px;
        color: #fff;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        transition: 400ms var(--cube-1);

        &::after {
            content: "";
            width: 150%;
            height: 150%;
            border-radius: 50%;
            background: rgb(255 255 255 / 10%);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            z-index: -1;
            animation: ply-btn-2 5s linear infinite;
        }

        &::before {
            content: "";
            width: 150%;
            height: 150%;
            border-radius: 50%;
            background: rgb(255 255 255 / 10%);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            z-index: -1;
            animation: ply-btn-2 3s linear infinite;
        }
    }
    

    &-text {
        font-size: 18px;
        text-transform: capitalize;
        display: inline-block;
        color: #fff;
        transition: 400ms var(--cube-2);

        &:hover {
            color: var(--gly-pr-2);
            transform: translateX(3px);
        }
    }

    &:hover{
        .gly-ply-btn-2-icon {
            color: var(--gly-pr-2);
        }
        .gly-ply-btn-2-text {
            color: var(--gly-pr-2);
        }
    }
}

@keyframes ply-btn-2 {
    0% {
        width: 100%;
        height: 100%;
    }
    50% {
        width: 150%;
        height: 150%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}



/* 
    ply-btn-2-css-end
*/



/*
    all-button-css-end 
*/

