@use '../abstracts/variables' as *;

/* 
    client-3-css-start
*/

.gly-client-3 {

    &-area {
        position: relative;
        z-index: 2;
    }

    &-container {
        max-width: 1720px;
        margin-left: auto;
        margin-right: auto;
    }

    &-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 55px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-section-title {
        position: relative;
        z-index: 1;
        .gly-section-title-3 {
            margin-bottom: 40px;
            max-width: 545px;

        }
    }

    &-content {
        @media #{$md,$xs} {
            max-width: 720px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    &-counter {
        font-size: 200px;
        font-weight: 800;
        line-height: 1;
        opacity: 4%;
        margin-top: -149px;

        @media #{$xl,$lg,$md} {
            font-size: 140px;    
            margin-top: -70px;
        }

        @media #{$xs} {
            font-size: 100px;    
            margin-top: -70px;
        }
    }

    &-logo-box {
        background: #4B6BDC;
        display: inline-block;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px 0;
    }

    &-logo-item {
        flex: 0 0 auto;
        width: 264px;
        height: 125px;
        border-radius: 14px;
        border: 1px solid #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        transition: 400ms var(--cube-1);

        img {
            transition: 400ms var(--cube-1);
            display: inline-block;
        }

        &:hover {
            background: var(--gly-pr-2);
            border-color: transparent;
            img {
                transform: scale(120%);
            }
        }
    }
    
    &-logo-wrap {
        display: flex;
        align-items: center;
        gap: 18px;
        transform: translateX(-100%);

        animation: client-3-slide-1 10s infinite linear;

        &:hover {
            animation-play-state: paused; 
        }
    }
    
    &-logo-wrap-2 {
        display: flex;
        align-items: center;
        gap: 18px;
        justify-content: end;

        animation: client-3-slide-2 10s infinite linear;

        &:hover {
            animation-play-state: paused; 
        }
    }
    
    &-logo-wrap-3 {
        display: flex;
        align-items: center;
        gap: 18px;

        animation: client-3-slide-1 10s infinite linear;

        &:hover {
            animation-play-state: paused; 
        }
    }
    
}


@keyframes client-3-slide-1 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes client-3-slide-2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* 
    client-3-css-start
*/

/* 
    client-4-css-start
*/

.client-4-about-4-bg {
    background: linear-gradient(180deg, rgba(249,239,255,1) 0%, rgba(254,123,47,0) 100%, rgba(254,117,36,0) 100%);
    position: relative;
    z-index: 1;

    &-shape {
        position: absolute;
        right: 0;
        z-index: -1;
        top: 176px;
        width: 17%;
    }
}


.gly-client-4 {
    &-area {
        overflow: hidden;
        border-bottom: 1.5px solid rgb(254 117 36 / 25%);
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        display: flex;
        align-items: center;
        gap: 100px;

        @media #{$xl,$lg,$md,xs} {
            gap: 50px;
        }
    }

    &-item {
        display: inline-block;
        flex: 0 0 auto;
        position: relative;
        z-index: 1;
        overflow: hidden;

        .logo-1 {
            transition: 400ms var(--cube-2);
            transform-origin: right;
        }

        .logo-2 {
            position: absolute;
            top: 190%;
            left: 0;
            transition: 400ms var(--cube-2);
            transform-origin: right;
            transform: rotate(30deg);
            opacity: 0;
        }

        &:hover {
            .logo-1 {
                transform: translateY(-100%) rotate(30deg);
            }
            .logo-2 {
                top: 0;
                transform: rotate(0deg);
                opacity: 1;
            }

        }
    }
}
/* 
    client-4-css-end
*/