@use '../abstracts/variables' as *;

/* 
    footer-1-css-start
*/

.gly-footer-1 {
    &-widget {
        .footer-title {
            font-size: 85px;
            letter-spacing: -.2px;
            margin-bottom: 0px;

            @media #{$xl} {
                font-size: 75px;
            }

            @media #{$lg,$md} {
                font-size: 60px;
            }

            @media #{$xs} {
                font-size: 40px;
            }

            @media #{$sm} {
                font-size: 50px;
            }
        }

        .footer-disc {
            font-size: 18px;
            line-height: 28px;
            color: #878787;
            margin-bottom: 40px;
        }
        
    }
}



.gly-footer-1-widget-wrap-line {
    width: 0%;
    height: 2px;
    background-color: #483d2f;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transition: 2s var(--cube-2);
}

.gly-footer-1-widget-wrap-line-2 {
    width: 2px;
    height: 0%;
    background-color: #483d2f;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transition: 2s var(--cube-2);
}


.gly-footer-1-area {
    &:is(.active) {
        .gly-footer-1-widget-wrap-line {
            width: 100%;
        }
    
        .gly-footer-1-widget-wrap-line-2 {
            height: 100%;
        }

        .gly-footer-1-line {
            width: 100%;
        }
    }
}

.gly-footer-1 {

    &-wrap {
        position: relative;
        z-index: 1;

    }

    &-widget {
        &-wrap {
            display: grid;
            grid-template-columns: auto auto 1fr;
            gap: 50px 75px;
            padding-left: 60px;
            position: relative;
            z-index: 1;
            
            @media #{$lg} {
                gap: 50px 35px;
            }
            
            @media #{$md} {
                border-left: none;
                padding-left: 0px;
                margin-bottom: 50px;
            }
            
            @media #{$xs} {
                border-left: none;
                padding-left: 0px;
                margin-bottom: 50px;
                grid-template-columns: auto;
            }
            
            @media #{$sm} {
                border-left: none;
                padding-left: 0px;
                margin-bottom: 50px;
                gap: 50px 45px;
                grid-template-columns: auto auto 1fr;
            }

        }

        &:is(.has-full-width) {
            grid-column: 1 / -1;
        }
    }

    &-widget-title {
        font-size: 22px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    &-line {
        width: 0%;
        height: 2px;
        background: #483d2f;
        transition: 2s var(--cube-2);
    }
    
}

.gly-footer-menu {
    li {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        a {
            display: inline-block;
            font-size: 16px;
            letter-spacing: .2px;
            font-family: var(--gly-pr-font);
            color: #b6bdb9;
            font-weight: 500;
            transition: 300ms linear;
            text-transform: capitalize;
            &:hover {
                color: var(--gly-pr-1);
                transform: skewX(7deg);
            }
        }
    }
}

.gly-form-1 {
    &-input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 16px;
        text-transform: capitalize;
        color: #737373;
        font-weight: 400;
        font-family: var(--gly-pr-font);
        padding: 14px 30px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    &-button {
        border: none;
        outline: none;
        width: 100%;
        height: 52px;
        border-radius: 5px;
        font-size: 20px;
        text-transform: capitalize;
        font-weight: 700;
        background: var(--gly-gd-1);
        color: #fff;
        transition: 400ms var(--cube-1);
        &:hover {
            letter-spacing: 1px;
            transform: scale(97%);
            opacity: 95%;
        }
    }
    
}


.gly-footer-1-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;

    @media #{$xs} {
        grid-template-columns: 1fr 1fr;
    }

    @media #{$sm} {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &-item {
        height: 122px;
        display: inline-block;
        border-radius: 10px;
        overflow: hidden;
        flex: 0 0 auto;
        transition: 400ms var(--cube-1);
        img {
            transform-origin: left ;
            transition: 400ms var(--cube-1);
        }
        &:hover {
            transform: skewX(5deg);
            img {
                transform: scale(110% , 103%);
                filter: blur(1px);
            }
        }
    }
    
}


.gly-social-1-link {
    display: flex;
    align-items: center;
    gap: 10px 28px;
    flex-wrap: wrap;

    &-item {
        font-size: 22px;
        color: #fff;
        display: inline-block;
        line-height: 1;
        transition: 400ms var(--cube-1);

        &:hover {
            color: var(--gly-pr-1);
            transform: skewX(7deg);
        }
    }
}


.gly-footer-1-copyright {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    color: #b6bdb9;

    a {
        display: inline-block;
        color: #b6bdb9;
        transition: 400ms var(--cube-1);

        &:hover {
            color: var(--gly-pr-1);
        }
    }
}


.section-bg-color {
    position: relative;
    z-index: 1;
    .section-bg-shape-1 { 
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
    .section-bg-shape-2 {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    .section-bg-shape-3 {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
}

/* 
    footer-1-css-end
*/

/* 
    footer-2-css-start
*/
.gly-footer-2 {
    &-area {
        background: #030305;
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 90px;
        position: relative;
        z-index: 1;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            max-width: 98%;
        }
    }
    
    &-il-1 {
        position: absolute;
        right: 0;
        top: -240px;
        z-index: -1;
    }
    
    &-il-2 {
        position: absolute;
        left: -190px;
        bottom: -330px;
        z-index: -1;
    }


    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        padding-bottom: 50px;
        margin-bottom: 50px;
        position: relative;
        z-index: 1;

        .top-title-wrap {
            display: flex;
            align-items: center;
            gap: 30px;
            max-width: 550px;

            .top-title {
                font-size: 45px;
                line-height: 1.11;
                @media #{$lg,$md} {
                    font-size: 35px;
                }
                @media #{$xs} {
                    font-size: 25px;
                }
            }
        }

        &-line {
            position: absolute;
            width: 100%;
            height: 2px;
            background: #2e2d2d;
            bottom: 0;
            left: 0;
        }
    }
}

.gly-footer-2-widget {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr ;
        }
    }

    background: #222222;
    border-radius: 60px;
    padding: 45px 60px;

    @media #{$xl,$lg,$md,$xs} {
        padding: 45px 30px;
    }
    
    &:is(.has-bg-1) {
        background: var(--gly-gd-1);
    }
}

.gly-footer-2 {
    &-menu {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 18px 0;
    
        li {
            a {
                display: inline-block;
                font-size: 21px;
                font-weight: 400;
                color: #cecece;
                font-family: var(--gly-pr-font);
                transition: 400ms var(--cube-1);
                
                &:hover {
                    color: var(--gly-pr-1);
                    transform: skewX(7deg);
                }
            }
        }
    }
    
    &-contact-item {

        &:not(:last-child) {
            padding-bottom: 25px;
            border-bottom: 2px solid #393939;
            margin-bottom: 25px;
        }

        .title {
            font-size: 27px;
            margin-bottom: 6px;

            @media #{$lg,$md,$xs} {
                font-size: 22px;
            }
        }
        .item-link {
            display: inline-block;
            color: #cecece;
            font-size: 21px;
            transition: 400ms var(--cube-1);
                
            &:hover {
                color: var(--gly-pr-1);
                transform: skewX(7deg);
            }
        }
        
    }

    &-location {
        display: flex;
        flex-direction: column;
        gap: 13px;
        justify-content: center;
        height: 100%;
    
        .title {
            font-size: 27px;

            @media #{$lg,$md,$xs} {
                font-size: 22px;
            }
        }
    
        .disc {
            font-size: 27px;
            color: #cecece;
            line-height: 42px;
            @media #{$lg,$md,$xs} {
                font-size: 18px;
            }
        }
    }
}

.gly-footer-2-copyright {
    &-link {
        display: flex;
        align-items: center;
        gap: 25px;
        flex-wrap: wrap;

        li {
            a {
                font-family: var(--gly-pr-font);
                color: #1c1c1c;
                display: inline-block;
                font-size: 18px;
                text-transform: capitalize;
                transition: 400ms var(--cube-1);
            
                &:hover {
                    color: var(--gly-pr-1);
                    transform: skewX(7deg);
                }
            }
        }
    }
    
}

.gly-footer-2-copyright {

    &-area {
        padding: 35px 0;
    }

    font-family: var(--gly-pr-font);
    color: #1c1c1c;
    display: inline-block;
    font-size: 18px;
    text-transform: capitalize;

    a {
        color: inherit;
        display: inline-block;
        transition: 400ms var(--cube-1);
            
        &:hover {
            color: var(--gly-pr-1);
            transform: skewX(7deg);
        }
    }

    &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px 20px;
        flex-wrap: wrap;

        @media #{$xs} {
            justify-content: center;
        }
    }
}


/* 
    footer-2-css-end
*/


/* 
    footer-3-css-start
*/
.gly-footer-3-bg {
    position: relative;
    z-index: 1;

    &-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: -1;
    }
}

.gly-footer-3 {
    &-widget {
        &-row {
            display: grid;
            grid-template-columns: 1.8fr 1fr 1fr 1fr;
            gap: 50px 85px;

            @media #{$xl,$lg} {
                gap: 50px 35px;
            }

            @media #{$md} {
                grid-template-columns: 1fr 1fr;
            }

            @media #{$xs} {
                grid-template-columns: 1fr;
            }

            @media #{$sm} {
                grid-template-columns: 1fr 1fr;
                gap: 50px 35px;
            }
        }
    }

    &-widget {
        &:is(.full-width) {
            grid-column-start: 1;
            grid-column-end: -1;
        }


        &-title {
            font-size: 28px;
            line-height: 1.38;
            color: #fff;
            margin-bottom: 32px;
            @media #{$lg,$md} {
                font-size: 26px;
            }
        }

        .disc {
            color: #fff;
            margin-bottom: 30px;
        }
    }
}


.gly-social-3 {
    &-link {
        display: flex;
        align-items: center;
        gap: 10px 16px;
        flex-wrap: wrap;

        a {
            width: 46px;
            height: 46px;
            border-radius: 10px;
            background: #25232F;
            display: flex;
            flex:  0 0 auto;
            justify-content: center;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            transition: 400ms var(--cube-1);
            color: #fff;

            .twitter {
                line-height: 0.65;
            }

            &:hover {
                background: var(--gly-pr-2);

            }
        }
    }
}

.gly-footer-3-menu {
    li {    
        border-bottom: 1px solid rgb(255 255 255 / 30%);
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 0%;
            height: 1px;
            left: 0%;
            bottom: -1px;
            background: var(--gly-pr-2);
            transition: 400ms ease-in-out;
        }
        &:not(:last-child) {
            margin-bottom: 8px;
        }

        a {
            font-family: var(--inter);
            font-size: 18px;
            font-weight: 400;
            color: #fff;
            line-height: 30px;
            display: flex;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
            opacity: .9;
            text-transform: capitalize;
            padding: 8px 0;
            transition: 400ms ease-in-out;

            i {
                display: inline-block;
                transition: 400ms var(--cube-2);
            }
        }

        &:hover {
            &::after {
                width: 100%;
            }
            a {
                opacity: 1;
                color: var(--gly-pr-2);
                i {
                    transform: rotate(45deg);
                }
            }
        }
    }
}


.gly-footer-3-contact {
    li {
        font-family: var(--inter);
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: #fff;
        opacity: .9;
        text-transform: capitalize;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        i {
            color: var(--gly-pr-2);
            margin-right: 4px;
        }
    }
}


.gly-footer-3-opening {
    .title {
        
        font-weight: 700;
        opacity: 1;
        text-decoration: underline;
    }
    li {
        font-family: var(--inter);
        font-size: 18px;
        text-transform: capitalize;
        color: #fff;
        opacity: .9;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
    
}


.gly-footer-3-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    padding: 22px 0;
    border-top: 2px solid rgb(255 255 255 / 10%);

    @media #{$xs} {
        justify-content: center;
    }

    .copyright {
        color: #fff;
        text-transform: capitalize;
        opacity: .7;
    }
    .menu {
        li {
            display: inline-block;
            &:not(:last-child) {
                margin-right: 50px;
            }
            a {
                opacity: .7;
                color: #fff;
                text-transform: capitalize;
                transition: 400ms ease-in-out;
                &:hover {
                    color: var(--gly-pr-2);
                    opacity: 1;
                }
            }
        }
    }
}

/* 
    footer-3-css-end
*/