@use '../abstracts/variables' as *;

/* 
  header-1-css-start
*/


.gly-header-1-area {
  background: transparent;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  // overflow-x: clip;
  z-index: 9;
  
  &:is(.gly_sticky_show) {
    background: #000;
  }

  .left-shape-wrap {
    position: relative;
    z-index: 1;

    .shape-left {
      width: 1200px;
      height: 107px;
      background: linear-gradient(90deg, rgb(67, 0, 231) 85%, rgb(125, 0, 252) 94%, rgba(0, 212, 255, 0) 100%);
      position: absolute;
      top: -35px;
      z-index: -1;
      right: -100px;
    }
  }

  .right-shape-wrap {
    position: relative;
    z-index: 1;

    .shape-right {
      width: 1200px;
      height: 107px;
      background: linear-gradient(270deg, rgb(67, 0, 231) 87%, rgb(125, 0, 252) 94%, rgba(0, 212, 255, 0) 100%);
      position: absolute;
      top: -50px;
      z-index: -1;
      left: -80px;
    }
  }
}

.gly-header-1 {
    &-container {
      max-width: 1800px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;
    }

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media #{$md,$xs} {
        padding: 33px 0;
      }
    }


    
    &-action-link {
      gap: 25px;

      .gly-chat-btn-1 {
        @media #{$lg} {
          display: none;
        }
        @media #{$xs} {
          display: none;
        }
        @media #{$sm} {
          display: block;
        }
      }
    }
    
}


.main-navigation {
  .navbar-nav {
    display: inherit;
    li {
      display: inline-block;
      position: relative;

      &:not(:last-child) {
        margin-right: 63px;

        @media #{$xl,$lg} {
          margin-right: 33px;
        }
      }
      
      &:is(.dropdown) {
        > a {
          padding-right: 15px;
          &::before {
            content: "\f0d7";
            font-family: "Font Awesome 6 Pro";
            font-weight: 700;
            position: absolute;
            font-size: 14px;
            border-radius: 50%;
            right: 0;
            top: 49%;
            transform: translateY(-50%);
          }
        }
      }

      a {
        position: relative;
        z-index: 1;
        font-family: var(--gly-sd-font);
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: #fff;
        padding: 45px 0;
        display: inline-block;
        text-transform: capitalize;
        line-height: 1;
        transition: 400ms var(--cube-1);

        &::after {
          position: absolute;
          content: "";
          background: transparent;
          border: 1px solid var(--gly-pr-1);
          width: 8px;
          height: 8px;
          left: -15px;
          border-radius: 50%;
          top: 49px;
          z-index: 1;
          transition: 400ms var(--cube-1);
        }
      }


      .dropdown-menu {
        left: 0;
        top: 100%;
        z-index: 100;
        margin: 0px;
        padding: 20px 0;
        height: auto;
        min-width: 250px;
        display: block;
        border: none;
        border-top: 2px solid var(--gly-pr-1);
        box-shadow: 0 10px 50px 0 rgb(0 0 0 / 5%);
        border-radius: 0;
        position: absolute;
        background: #fff;
        border-radius: 2px;
        text-align: left;
        opacity: 0;
        visibility: hidden;
        transform: translateY(15px) translateZ(0);
        transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        
        li {
          display: block;
          margin: 0;
          position: relative;
          &::after {
            display: none;
          }
          a {
            width: 100%;
            display: block;
            padding: 10px 30px;
            padding-left: 33px;
            color: var(--gly-heading-1);

            &::after {
              left: 20px;
              top: 14px;
            }

          }
          &:is(.dropdown) {
            a {
              &::before { 
                right: 20px;
              }
            }
          }
          .dropdown-menu {
            top: 0;
            left: 100%;
            min-width: 250px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(15px) translateZ(0);
            transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);

          }
          &:hover {
            .dropdown-menu {
              opacity: 1;
              visibility: visible;
              transform: translateY(0px) translateZ(0);
            }
            > a {
              color: var(--gly-pr-1);
            }
          }
        }
      }
      &:hover {
        > a {
          color: var(--gly-pr-1);

          &::after {
            background: var(--gly-pr-1);
          }

        }
        .dropdown-menu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0px) translateZ(0);
        }
      }
    }
  }
}




/* 
  header-1-css-end
*/

/* 
  header-2-css-start
*/
.gly-header-1-area {
  &:is(.has-header-2) {
    top: 35px;

    &:is(.gly_sticky) {
      top: 0;
    }

    &:is(.gly_sticky_show) {
      top: 0;
    }

    @media #{$xs} {
      top: 0px;
    }
    
    .gly-cart-btn-1 {
      @media #{$lg} {
        display: none;
      }
      @media #{$xs} {
        display: none;
        
      }
      @media #{$sm} {
        display: block;
      }
    }
  }
}
/* 
  header-2-css-end
*/
/* 
  header-3-css-start
*/


.gly-header-3 {

  &-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
  }

  &-container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
  

  &-top {
      position: relative;
      z-index: 1;

      &::after {
        content: "";
        width: 45%;
        height: 100%;
        background: var(--gly-pr-2);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
      }
      
    
    &-content {
      background: var(--gly-pr-2);
      display: inline-flex;
      align-items: center;
      gap: 45px;
      padding: 16px 30px;
      border-radius: 0 40px 0 0;

      @media #{$md,$xs} {
        flex-wrap: wrap;
        gap: 10px 45px;
        justify-content: center;
      }

    }

    &-contact {
      display: flex;
      gap: 10px 30px;
      align-items: center;

      @media #{$xs} {
        flex-wrap: wrap;
        justify-content: center;
      }

      li , a , p{
        display: inline-block;
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        margin-bottom: 0;
        transition: 400ms var(--cube-1);

        i {
          margin-right: 7px;
          display: inline-block;
        }
        
      }
      
      a {
        &:hover {
          color: #000;
          transform: translateX(3px);
        }
      }

    }
    
    &-social {
      display: flex;
      align-items: center;
      gap: 11px;

      .title {
        font-size: 16px;
        color: #fff;
        line-height: 1;
        margin-bottom: 0;
      }

      a {
        display: inline-flex;
        width: 28px;
        height: 28px;
        border: 1px solid #fff;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        line-height: 1;
        font-size: 12px;
        transition: 400ms var(--cube-1);
        color: #fff;

        &:hover {
          background-color: #fff;
          transform: translateX(3px);
          color: #000;
        }
      }
      
    }

  }

  &-bottom {

    position: relative;
    z-index: 1;

    &::after {
      content: "";
      width: 45%;
      height: 100%;
      background: #232D39;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }

    &-content {
      background: #232D39;
      display: flex;
      align-items: center;
      gap: 70px;
      padding: 0px 40px;
      border-radius: 0 0 0 60px;

      @media #{$xxl,$xl,$lg} {
        padding: 0px 20px;
        gap: 30px;
      }

      @media #{$md,$xs} {
        padding: 15px 20px;
        gap: 30px;
      }
    }

    &-action-link {
      gap: 40px;

      @media #{$xxl,$xl,$lg,$md,$xs} {
        gap: 30px;
      }

      .gly-mobile-menu-btn-2 {
        background: var(--gly-pr-2);
        
      }
    }

  }
}


/* 
  manu-customaziton-css-start
*/
.gly-header-3-bottom-content {
  .main-navigation {
    .navbar-nav {
      li {

        &:not(:last-child) {
          margin-right: 50px;

          @media #{$xxl,$xl,$lg,$md,$xs} {
            margin-right: 20px;
          }
        }

        &:is(.dropdown) {
          > a {
            padding-right: 15px;
          }
        }

        a {
          font-family: var(--montserrat);
          font-weight: 600;
          line-height: 26px;
          padding: 35px 0;

          &::after {
            position: absolute;
            content: "";
            background: transparent;
            width: 8px;
            height: 0%;
            border-radius: 0;
            border: 0;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            background: linear-gradient(180deg, rgba(16,66,242,1) 0%, rgba(35,45,57,1) 29%, rgba(35,45,57,1) 70%, rgba(16,66,242,1) 100%);
            z-index: -1;
            transition: 400ms var(--cube-2);
          }
        }

        .dropdown-menu {
          border-color: var(--gly-pr-2);
          li {
            margin-right: 0;

            a {
              padding: 10px 30px;

              &::after {
                left: 35px ;
                top: 50%;
                background: linear-gradient(180deg, rgba(16,66,242,1) 0%, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 70%, rgba(16,66,242,1) 100%);
              }
            }

            &:hover {
              > a {
                color: var(--gly-pr-2);
              }
            }

          }
        }

        &:hover {
          > a {
            color: #fff;
            &::after {
              height: 100%;
            }
          }
        }
      }
    }
  }
}
/* 
  manu-customaziton-css-start
*/




/* 
  header-3-css-end
*/


/* 
  sticky-header-css-start
*/
.gly_sticky_header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: 500ms var(--cube-1);

  &:is(.gly_sticky) {
    transform: translateY(-100%);

    &:is(.gly_sticky_show) {
      transform: translateY(0%);
    }
  }
}

.gly_sticky {
  .gly-cart-btn-1:is(.has-black) {
    color: #fff;

    &:hover {
      color: var(--gly-pr-1);
    }
  }
  .gly-search-btn-1:is(.has-black) {
    color: #fff;

    &:hover {
      color: var(--gly-pr-1);
    }
  }
}

/* 
  sticky-header-css-end
*/