@use '../abstracts/variables' as *;
/* 
    hero-1-css-start 
*/
.gly-hero-1 {
    &-area {
        background: #131518;
        padding-top: 430px;
        padding-bottom: 150px;
        position: relative;
        z-index: 1;
        background-repeat: no-repeat;

        @media #{$lg,$md,$xs} {
            padding-top: 300px;
        }
    }

    &-title {
        font-size: 65px;
        font-weight: 900;
        color: #fff;
        margin-bottom: 12px;
        max-width: 820px;

        .gly-gd-color-1 {
            // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
        
        @media #{$xl} {
            font-size: 60px;
        }
        @media #{$lg} {
            font-size: 55px;
            max-width: 650px;
        }
        @media #{$md} {
            font-size: 50px;
            max-width: 610px;
        }
        @media #{$xs} {
            font-size: 38px;
        }
        @media #{$sm} {
            font-size: 40px;
        }
    }
    &-disc {
        margin-bottom: 32px;
        max-width: 610px;
    }

    &-social {

        display: flex;
        flex-direction: column;
        gap: 95px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 2%;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            display: none;
        }


        &-link {
            display: inline-block;
            writing-mode: vertical-rl;
            color: #fff;
            font-size: 16px;
            transition: 400ms var(--cube-1);
    
            i {
                margin-bottom: 5px;
                display: inline-block;
                transform: rotate(90deg);
            }
    
            &:hover {
                color: var(--gly-pr-1);
            }
        }
    }

    &-il-1 {
        position: absolute;
        left: -140px;
        bottom: -120px;
        z-index: -1;
    }
}

.gly-hero-1-laptop {
    position: absolute;
    right: -50%;
    top: 60%;
    transform: translateY(-50%) rotate(0deg);
    max-width: 900px;
    transition: 1s var(--cube-1);

    @media #{$xxxl} {
        max-width: 590px;
    }

    @media #{$xxl} {
        max-width: 500px;
    }

    @media #{$xl} {
        max-width: 400px;
    }

    @media #{$lg} {
        position: unset;
        padding-left: 150px;
        margin-top: 50px;
    }

    @media #{$md} {
        position: unset;
        padding-left: 150px;
        margin-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }

    @media #{$xs} {
        position: unset;
        padding-left: 150px;
        margin-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }

    @media #{$sm} {
        position: unset;
        padding-left: 150px;
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    &:is(.active) {
        right: 5%;
        transform: translateY(-50%) rotate(15deg);

        
        @media #{$lg,$md,$xs} {
            transform: translate(0% , 0%) rotate(0deg);
        }
        
        .gly-hero-1-laptop-mockup  {
            .part.top {
                transform: translate3d(0, 0, 0) rotateX(0deg);
            }
        }

    }





    .gly-hero-1-laptop-mockup {
        display: inline-block;
        position: relative;
        z-index: 3;
        text-align: center;
        font-size: 0;
        perspective: 2400px;
        perspective-origin: 50% 100%;
        opacity: 0;
        transition: 500ms opacity;

        .part {
            display: inline-block;
            position: relative;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform-origin: 50% 100%;
            transition: 900ms;
        }

        .part {
            .cover {
                position: relative;
              }
        }

        .part {
            .top {
                transform-origin: 50% 0;
                transform: translate3d(0, 0, -11px) rotateX(90deg);
                transition: 900ms;
            }
        }



        .video {
            display: block;
            position: absolute;
            top: 5%;
            left: 4%;
            height: 90%;
            width: 92%;
            border-radius: 6px;
            backface-visibility: hidden;
            transform: translate3d(0, 0, 1px);

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
          }

        .part.top {
            transform: translate3d(0, 0, 0) rotateX(-90deg);
            transition-delay: 1s;
        }

        .part.bottom {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate3d(0, 0, 0) rotateX(-90deg);
        }

        .part {
            .bottom {
                transform-origin: 50% 0;
                transform: translate3d(0,0,0) rotateX(90deg);
            }
        }

        img {
            display: block;
            max-width: 100%;
            backface-visibility: hidden;
        }



        &:hover {
            .part.top {
                transform: translate3d(0, 0, 0) rotateX(0deg);
              }
        }
    
    }
      
      .gly-hero-1-laptop-mockup.loaded {
        opacity: 1;
      }
      
      .gly-hero-1-laptop-mockup .part .top,
      .gly-hero-1-laptop-mockup .part .bottom {
        position: absolute;
        top: 0;
        left: 0;
      }

      
      .gly-hero-1-laptop-mockup.opened {
        .part {
            .top {
                transform: translate3d(0, 0, -11px) rotateX(90deg) scale(1, 1);
            }
        }
      }

}

 

/* 
    hero-1-css-end 
*/

/* 
    hero-2-css-start
*/
.gly-hero-2 {
    &-area {
        position: relative;
        z-index: 1;
    }

    &-il-1 {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        width: 32%;

        @media #{$md} {
            width: 45%;
        }

        @media #{$xs} {
            width: 65%;
        }
    }
    
    &-il-2 {
        position: absolute;
        left: 0;
        bottom: -260px;
        z-index: -1;
        width: 20%;

        @media #{$xxxl} {
            bottom: -200px;
        }

        @media #{$xxl,$xl} {
            bottom: -160px;
        }

        @media #{$lg} {
            bottom: -100px;
        }

        @media #{$md} {
            bottom: -100px;
            width: 30%;
        }

        @media #{$xs} {
            bottom: -70px;
            width: 58%;
        }

        @media #{$sm} {
            bottom: -70px;
            width: 34%;
        }
    }
    
    &-il-3 {
        position: absolute;
        top: 10%;
        z-index: -2;
        left: 6%;
    }


    &-container {
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    &-wrap {
        position: relative;

        .gly-hero-1-social {
            left: unset;
            right: 1%;
            gap: 45px;
            transform: translateY(-36%);

            @media #{$xxl,$xl} {
                display: flex;
            }
        }

        .gly-chat-btn-1 {
            position: absolute;
            bottom: 60px;
            left: 0;
            z-index: 1;
            -webkit-text-fill-color: #121111;

            &:hover {
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &-content {
        padding-top: 260px;
        padding-bottom: 150px;
    }

    &-title {
        font-family: var(--gly-sd-font);
        font-size: 60px;
        line-height: 1.41;
        color: #fff;
        font-weight: 600;
        max-width: 1020px;
        margin-left: auto;
        margin-right: auto;

        @media #{$lg} {
            font-size: 55px;
        }
        @media #{$md} {
            font-size: 44px;
        }
        @media #{$xs} {
            font-size: 30px;
        }
        @media #{$sm} {
            font-size: 38px;
        }

    }
}
/* 
    hero-2-css-end
*/

/* 
    hero-3-css-start
*/
.gly-hero-3 {
    &-area {
        background: #161425;
        padding-bottom: 285px;
        padding-top: 340px;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    &-title {
        font-size: 90px;
        line-height: 1.15;
        color: #fff;
        margin-bottom: 30px;

        
        @media #{$xxxl} {
            font-size: 80px;
        }
        
        @media #{$xxl} {
            font-size: 80px;
        }
        
        @media #{$xl} {
            font-size: 70px;
        }

        @media #{$lg} {
            font-size: 65px;
        }
        @media #{$md} {
            font-size: 50px;
        }
        @media #{$xs} {
            font-size: 30px;
        }
        @media #{$sm} {
            font-size: 40px;
        }
    }
    
    &-disc {
        font-size: 22px;
        color: #fff;
        max-width: 924px;
        line-height: 1.54;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;

        @media #{$xs} {
            font-size: 20px;
        }
    }

    &-content {
        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            flex-wrap: wrap;
        }
    }
}


.gly-hero-3 {
    &-demo {
        border-radius: 12px;
        overflow: hidden;

        &-row {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            gap: 25px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 23%;
            overflow: hidden;

            @media #{$xxl,$xl,$lg} {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
            @media #{$md} {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @media #{$xs} {
                grid-template-columns: 1fr 1fr ;
            }
        }

        &-clm {
            display: flex;
            flex-direction: column;
            gap: 25px;

            &:nth-child(5) {
                @media #{$xxl,$xl,$lg,$md,$xs} {
                    display: none;
                }
            }
            &:nth-child(4) {
                @media #{$md,$xs} {
                    display: none;
                }
            }
            &:nth-child(3) {
                @media #{$xs} {
                    display: none;
                }
            }

            &:nth-child(odd) {
                animation: h3-demo-1 20s linear infinite;
                // justify-content: end;
            }

            &:nth-child(even) {
                transform: translateY(-50%);
                animation: h3-demo-2 20s linear infinite;
            }
        }
    }
    
}

@keyframes h3-demo-2 {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes h3-demo-1 {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-50%);
    }
}


/* 
    hero-3-css-end
*/