@use '../abstracts/variables' as *;
/* 
    price-1-css-start
*/

.section-bg-color {
    background-color: #000;
}

.gly-price-1 {
    &-wrap {
        &-bg {
            position: relative;

        }
        background: #312531;
        padding: 60px 75px;
        border-radius: 500px;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 70px;
        align-items: center;
        justify-items: end;
        max-width: 1100px;
        margin-left: auto;

        @media #{$xl} {
            max-width: 1000px;
        }

        @media #{$lg} {
            padding: 60px 35px;
        }

        @media #{$xs} {
            padding: 60px 25px;
            justify-items: self-start;
            grid-template-columns: auto;
            border-radius: 0px;
        }
        

    }

    &-il-img {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 46%;

        @media #{$xl} {
            width: 42%;
        }

        @media #{$lg} {
            width: 35%;
        }

        @media #{$md,$xs} {
            transform: unset;
            position: unset;
            margin-left: auto;
            margin-right: auto;
        }

    }

    &-tabs {
        &-content {
            .title {
                font-size: 50px;
                margin-bottom: 5px;
            }

            .price {
                font-size: 28px;
                display: flex;
                margin-bottom: 25px;

                span {
                    font-size: 11px;
                    display: inline-block;
                    margin-top: 2px;
                }
            }

            .gly-list-1 {
                li {
                    font-size: 18px;
                    color: #edf1f7;
                }
            }
        }

        &-btn-wrap {
            li {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }

        &-btn {
            position: relative;
            z-index: 1;
            border: none;
            outline: none;
            background: #16141c;
            color: #fff;
            font-weight: 600;
            text-transform: capitalize;
            padding: 15px 24px;
            border-radius: 50px;
            font-size: 16px;
            transition: 400ms var(--cube-1);
            overflow: hidden;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: var(--gly-gd-1);
                z-index: -1;
                transition: 400ms var(--cube-1);
                opacity: 0;
            }

            i {
                display: inline-block;
                margin-right: 7px;
                font-size: 13px;
                transform: translateX(15px);
                opacity: 0;
                transition: 400ms var(--cube-2);
            }

            .text {
                display: inline-block;
                transform: translateX(-10px);
                transition: 400ms var(--cube-2);
            }

            &:hover {
                color: #fff;
                &::after {
                    opacity: 1;
                }
                // .text {
                //     transform: translateX(0px);
                // }
                // i {
                //     transform: translateX(0px);
                //     opacity: 1;
                // }
            }

            &:is(.active) {
                color: #fff;
                &::after {
                    opacity: 1;
                }
                .text {
                    transform: translateX(0px);
                }
                i {
                    transform: translateX(0px);
                    opacity: 1;
                }
            }
        }

    }
    
}


/* 
    price-1-css-end
*/

/* 
    price-2-css-start
*/
.gly-price-2 {
    &-area {
        background: #0C0C0C;
    }

    &-section-title {
     
        .disc {
            max-width: 540px;
        }
    }

    &-img-wrap {
        margin-right: -310px;

        @media #{$xxxl} {
            margin-right: -190px;
        }

        @media #{$xxl} {
            margin-right: -100px;
        }

        @media #{$xl} {
            margin-right: -50px;
        }

        @media #{$lg,$md,$xs} {
            margin-right: 0px;
        }

        .gly-price-2-img {
            img {
                object-position: top;
            }

            @media #{$md,$xs} {
                height: 450px;
            }
     
        }
    }
}


.gly-price-2-box {  
    background: linear-gradient(0deg, rgba(169,14,109,1) 0%, rgba(12,61,207,1) 50%, rgba(59,63,199,1) 100%);
    border-radius: 20px;
    max-width: 535px;

    &-border {
        padding: 35px 40px;
        border: 2px solid transparent;
        background: #000;
        background-clip: padding-box;
        border-radius: 20px;
        display: grid;
        grid-template-columns: 1fr 2.2fr;
        align-items: center;
        gap: 20px;

        @media #{$lg} {
            padding: 35px 20px;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
            padding: 35px 20px;
        }

        @media #{$sm} {
            padding: 35px 20px;
            grid-template-columns: 1fr 2.2fr;
        }


        .box-price {
            font-size: 20px;
            margin-bottom: 20px;
        
            .doller {
                display: inline-block;
                font-size: 15px;
                font-weight: 400;
                transform: translateY(-13px);
                margin-right: 4px;
            }
            .price {
                font-size: 35px;
            }
        }

        .gly-list-1 {
            li {
                font-size: 18px;
                color: #fff;
                font-weight: 700;
        
                i {
                    width: 25px;
                    height: 25px;
                    background: var(--gly-gd-1);
                    border-radius: 50%;
                    text-align: center;
                    line-height: 26px;
                    font-size: 14px;
                    -webkit-text-fill-color: #fff;
                }
                
            }
            
        }

        .gly-pr-btn-1 {
            padding: 12px 21px;
            font-size: 14px;
        }

    }
}


/* 
    price-2-css-end
*/

/* 
    price-4-css-start
*/
.gly-price-4 {

    &-area {
        background: #FFF6F1;
        position: relative;
        z-index: 1;

        @media #{$lg,$md,$xs} {
            padding-bottom: 120px;
        }
    }

    &-card-wrap {
        padding-left: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        padding-top: 40px;

        @media #{$xl} {
            padding-left: 0px;
            grid-template-columns: 1fr 1fr .7fr;
        }

        @media #{$lg,$md} {
            padding-left: 0px;
            grid-template-columns: 1fr 1fr;
            padding-top: 0px;
        }

        @media #{$xs} {
            padding-left: 0px;
            grid-template-columns: 1fr ;
            padding-top: 0px;
        }
    }

    &-card {
        border-radius: 12px;
        background: #fff;
        padding: 40px 40px;
        transition: 400ms var(--cube-1);

        @media #{$md,$xs} {
            padding: 40px 20px;
        }

        .card-title{
            font-size: 24px;
            color: var(--gly-para-4);
            display: flex;
            align-items: center;
            gap: 20px;
            line-height: 1;
            margin-bottom: 20px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 20px;
            }

            span {
                display: block;
                width: 100%;
                height: 2px;
                background: var(--gly-gd-2);
            }
        }

        .card-img {
            height: 145px;
            overflow: hidden;
            margin-bottom: 35px;
            filter: grayscale(1);
            transition: 400ms var(--cube-1);
        }
        
        .card-price {
            font-size: 50px;
            line-height: 1;
            background: var(--gly-gd-2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            border-bottom: 1px solid rgb(7 9 23 / 15%);
            padding-bottom: 20px;
            margin-bottom: 30px;
            display: flex;
            align-items: flex-start;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 34px;
            }

            .dollor {
                font-size: 30px;
                font-weight: 500;
                display: inline-block;

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 25px;
                }
            }

            .month {
                display: inline-block;
                font-size: 20px;
                -webkit-text-fill-color: #818398;
                font-weight: 500;
                align-self: end;
                transform: translateY(-5px);

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 16px;
                }
            }
            
        }

        .card-list {
            margin-bottom: 35px;
            li {
                line-height: 28px;

                &:not(:last-child) {
                    margin-bottom: 14px;
                }

                @media #{$md,$xs} {
                    font-size: 16px;
                }

                i {
                    background: var(--gly-gd-2);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    display: inline-block;
                    font-size: 16px;
                    margin-right: 5px;
                }
            }
        }

        .card-btn {
            position: relative;
            z-index: 1;
            display: block;
            width: 100%;
            text-align: center;
            font-family: var(--montserrat);
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            line-height: 1;
            border: 1px solid var(--gly-pr-3);
            border-radius: 100px;
            padding: 20px;
            color: var(--gly-pr-3);
            background: transparent;
            transition: 400ms var(--cube-1);
            overflow: hidden;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: var(--gly-gd-2);
                z-index: -1;
                transition: 400ms var(--cube-1);
                opacity: 0;
            }

            &:hover {
                color: #fff;
                border-color: transparent;
                &::after {
                    opacity: 1;
                }
            }
        }

        &:hover {
            box-shadow: 0 0 20px 0px rgb(0 0 0 / 20%);
            transform: translateY(-20px);
            .card-img {
                filter: grayscale(0);
            }
        }
    }

    &-btn {
        padding-top: 110px;
        padding-left: 20px;
        @media #{$lg,$md,$xs} {
           padding-top: 40px;
        }
    }

    &-bg-img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 35%;
        z-index: -1;

        @media #{$lg,$md,$xs} {
            display: none;
        }
    }

    &-bg-shape {
        display: block;
        width: 480px;
        height: 700px;
        border-radius: 500px 500px 0 0;
        background: var(--gly-gd-2);
        position: absolute;
        right: 80px;
        bottom: -140px;
        z-index: -2;
        opacity: 20%;
        transform: rotate(330deg);
    }

    &-bg-shape-2 {
        display: block;
        width: 84%;
        height: 74%;
        background: #FFEDE3;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -3;
        border-radius: 50px 0 0 0;

        @media #{$xxxl,$xxl} {
            width: 95%;
        }

        @media #{$xl,$lg,$md,$xs} {
            width: 99%;
        }
    }
}


/* 
    price-4-css-end
*/