@use '../abstracts/variables' as *;

/* 
    project-1-css-start 
*/

.gly-project-1 {
    &-area {
        background: #050505;
        position: relative;
        z-index: 1;
    }

    &-il-1 {
        position: absolute;
        right: 30px;
        bottom: 40px;
        z-index: -1;
    }

    &-section {
        &-disc {
            font-size: 16px;
            line-height: 32px;
            margin-bottom: 20px;
        }

        &-title {
            display: grid;
            grid-template-columns: 1.7fr auto 1fr;
            gap: 30px;
            align-items: center;

            @media #{$xl} {
                grid-template-columns: 1.4fr auto 1fr;
            }

            @media #{$lg,$md} {
                grid-template-columns: 2fr 1fr;
            }

            @media #{$xs} {
                grid-template-columns: 1fr;
            }

            .gly-list-1 {
                justify-items: self-start;
                li {
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }


    }

    &-curlc-icon {
        width: 177px;
        height: 177px;
        border-radius: 50%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 80px;
        color: var(--gly-heading-1);

        i {
            display: inline-block;
            line-height: 1;
            margin-top: 20px;
        }

        &-text {
            font-weight: 800;
        }

        svg {
            position: absolute;
            top: 0;
            width: 85%;
            height: 100%;
            span {
                position: absolute;
                left: 50%;
                transform-origin: 0 100px;
            }
            
        }
    }

    &-all-btn {
        color: #fff;
        font-size: 16px;

        a {
            color: #fff;
            transition: 400ms var(--cube-1);
            text-decoration: underline;
            
            &:hover {
                color: var(--gly-pr-1);
            }
        }
    }
}


.gly-project-1 {
    &-item {
        grid-template-columns: 1fr auto;
        display: grid;
        gap: 35px;
        align-items: center;
        padding-right: 170px;

        @media #{$xxxl,$xxl} {
            padding-right: 100px;
        }

        @media #{$xl,$lg,$md} {
            padding-right: 50px;
        }

        @media #{$xs} {
            padding-right: 10px;
            grid-template-columns: 1fr;
        }
        @media #{$sm} {
            padding-right: 10px;
            grid-template-columns: 1fr auto;
        }

        &-img {
            height: 570px;
            overflow: hidden;
            border-radius: 0 120px 0 0;

            @media #{$xs} {
                height: 350px;
                border-radius: 0 30px 0 0;
            }

            img {
                transform-origin: bottom;
                transform: scale(120%);
                transition: 1s var(--cube-2);
            }
        }

        &-btn {
            width: 95px;
            height: 95px;
            background: var(--gly-gd-1);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            color: var(--gly-heading-1);
            transition: 400ms var(--cube-1);
            transform: translateX(100%);
            opacity: 0;

            @media #{$xs} {
                margin-left: 15px;
            }

            @media #{$sm} {
                margin-left: 0px;
            }

            i {
                display: inline-block;
                margin-top: 13px;
                transition: 400ms var(--cube-1);
            }

            &:hover {
                color: #fff;

                i {
                    transform: rotate(45deg);
                }
            }
            
        }
    }

    &-slider {
      position: relative;  

      .swiper-container {
        .swiper-wrapper {
            .swiper-slide {
                &:is(.swiper-slide-active) {
                    .gly-project-1-item-img img {
                        transform: scale(103%);
                    }
                    .gly-project-1-item-btn {
                        transform: translateX(0%);
                        opacity: 1;
                    }
                }
            }
        }
      }
      
      &-pagination {
        position: absolute;
        bottom: 40px;
        right: 19%;
        z-index: 2;

        @media #{$xs} {
            right: 29%; 
            position: unset;
            margin-top: 30px;
        }

        @media #{$sm} {
            right: 29%; 
            margin-top: 0px;
            position: absolute;
        }

        .gly-p1-pagination span {
            width: 62px;
            height: 20px;
            border: 1px solid #fff;
            border-radius: 10px;
            opacity: 1;
            background: transparent;

            &:is(.swiper-pagination-bullet-active) {
                background-color: #000;
                border-color: transparent;
                @media #{$xs} {
                    background-color: var(--gly-pr-1);
                }
        
            }
        }        
      }
    }
}


/* 
    project-1-css-end  
*/

/* 
    project-2-css-start
*/

.gly-project-2 {

    &-area {
        margin-top: -10px;
    }

    &-item {
        height: 670px;
        border-radius: 45px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        padding: 10px 0;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            height: 500px;
        }


        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: var(--gly-gd-1);
            position: absolute;
            top: 0px;
            left: 0;
            z-index: -1;
            transition: 1000ms var(--cube-2);
            transform: scaleY(0);        

        }
        

        img {
            border-radius: 45px;
        }

        &-content {
            position: absolute;
            bottom: -30%;
            left: 50%;
            width: 90%;
            background: var(--gly-gd-1);
            transform: translateX(-50%);
            padding: 15px 55px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            transition: 1000ms var(--cube-2);

            @media #{$xxl,$xl,$lg,$md} {
                padding: 15px 25px;
            }

            @media #{$xs} {
                padding: 30px 25px;
                flex-wrap: wrap;
            }

            .title {
                font-size: 24px;
                transition: 400ms var(--cube-1);
                &:hover {
                    letter-spacing: .5px;
                    opacity: .8;
                }

                @media #{$xs} {
                    font-size: 22px;
                }

                @media #{$sm} {
                    font-size: 24px;
                }
            }

            .subtitle {
                font-size: 16px;
                margin-bottom: 8px;
            }
            
        }

        &-btn {
            width: 68px;
            height: 68px;
            background: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1;
            font-size: 20px;
            color: #000;
            transition: 400ms var(--cube-2);

            i {
                display: inline-block;
                line-height: 1;
                margin-top: 5px;
            }

            &:hover {
                color: #fff;
                background-color: var(--gly-heading-1);
                transform: rotate(45deg);
            }
            
        }
    }
    
}

.gly-project-2-slider {
    position: relative;
    margin-left: -40px;
    margin-right: -40px;

    @media #{$xs} {
        margin-left: 0px;
        margin-right: 0px; 
        padding-right: 15px;
        padding-left: 15px;
    }

    .swiper-container {
        .swiper-wrapper {
            .swiper-slide {
                &:is(.swiper-slide-active) {
                    .gly-project-2-item::after {
                        transform: scaleY(1);
                    }
                    .gly-project-2-item-content {
                        bottom: 40px;
                    }
                }
            }
        }
    }
}

.gly-project-2-slider-btn {

    @media #{$xs} {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 40px;
    }

    .gly_p2_prev {
        position: absolute;
        top: 50%;
        left: 70px;
        transform: translateY(-50%);

        
        @media #{$xs} {
            position: unset;
            transform: unset;
            position: relative;
            left: 0px;
        }
    }

    .gly_p2_next {
        position: absolute;
        top: 50%;
        right: 70px;
        transform: translateY(-50%);

        @media #{$xs} {
            position: unset;
            transform: unset;
            position: relative;
            right: 0px;
        }
    }


}


.gly-slider-btn-1 {
    position: relative;
    z-index: 1;
    width: 89px;
    height: 89px;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    line-height: 1;
    font-size: 20px;
    bottom: 0;
    z-index: 1;
    transition: 400ms var(--cube-1);

    @media #{$xs} {
        width: 50px;
        height: 50px;
    }

    &::after {
        background: var(--gly-gd-1);
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        transform: scale(0);
        opacity: 0;
        transition: 400ms var(--cube-2);
    }

    &:hover {
        color: #fff;
        border: none;
        &::after {
            opacity: 1;
            transform: scale(1);
        }
    }
}

/* 
    project-2-css-end
*/

