@use '../abstracts/variables' as *;

/* 
    services-1-css-start
*/

.gly-services-1 {
    &-area {
        background: #edf1f3;
    }
    &-img {
        width: 676px;
        height: 676px;
        border-radius: 50%;
        overflow: hidden;

        @media #{$xxxl} {
            width: 536px;
            height: 536px 
        }

        @media #{$xxl} {
            width: 400px;
            height: 400px 
        }

        @media #{$xl,$lg} {
            width: 300px;
            height: 300px;
        }

        @media #{$md,$xs} {
            width: 500px;
            height: 500px;
            margin-left: auto;
            margin-right: auto;
        }

        @media #{$xs} {
            width: 280px;
            height: 280px;
            margin-left: auto;
            margin-right: auto;
        }

        @media #{$sm} {
            width: 500px;
            height: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}


.gly-services-1 {
    &-icon-1 {
        font-size: 95px;
        width: 181px;
        height: 181px;
        background: var(--gly-gd-1);
        text-align: center;
        line-height: 223px;
        border-radius: 50%;
        color: #fff;
        position: absolute;
        right: 6%;
        top: 0%;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            width: 100px;
            height: 100px;
            font-size: 50px;
            line-height: 125px;
        }
    }
    &-icon-2 {
        font-size: 95px;
        width: 181px;
        height: 181px;
        background: var(--gly-gd-1);
        text-align: center;
        line-height: 223px;
        border-radius: 50%;
        color: #fff;
        position: absolute;
        right: -100px;
        top: 50%;
        transform: translateY(-50%);

        @media #{$xxl,$xl,$lg,$md,$xs} {
            width: 100px;
            height: 100px;
            font-size: 50px;
            line-height: 125px;
            right: -60px;
        }
    }
    &-icon-3 {
        font-size: 95px;
        width: 181px;
        height: 181px;
        background: var(--gly-gd-1);
        text-align: center;
        line-height: 223px;
        border-radius: 50%;
        color: #fff;
        position: absolute;
        right: 5%;
        bottom: 1%;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            width: 100px;
            height: 100px;
            font-size: 50px;
            line-height: 125px;
        }
    }
}



.gly-services-1-left {
    margin-left: -240px;
    position: relative;

    @media #{$xxxl} {
        margin-left: -100px;
    }

    @media #{$xxl,$xl,$lg} {
        margin-left: 0px;
    }

    @media #{$md,$xs} {
        margin-left: 0px;
        margin-bottom: 100px;
    }
}

.gly-services-1-icon-wrap {
    position: absolute;
    width: 843px;
    height: 843px;
    border: 3px solid #dddddd;
    border-radius: 50%;
    top: 50%;
    left: 43%;
    transform: translate(-50% , -50%);

    @media #{$xxxl} {
        width: 700px;
        height: 700px;
    }

    @media #{$xxl} {
        width: 600px;
        height: 600px;
        left: 39%;
    }

    @media #{$xl} {
        width: 500px;
        height: 500px;
        left: 33%;
    }

    @media #{$lg} {
        width: 400px;
        height: 400px;
        left: 39%;
    }

    @media #{$md} {
        width: 600px;
        height: 600px;
        left: 50%;
    }

    @media #{$xs} {
        width: 280px;
        height: 280px;
        left: 50%;
    }

    @media #{$sm} {
        width: 500px;
        height: 500px;
        left: 50%;
    }
}


.gly-services-1 {
    &-content {
        &-inner {
            padding-left: 120px;

            @media #{$xl,$lg,$md,$xs} {
                padding-left: 0px;
            }
        }
    }

    &-feature {
        &-box {
            background: #fff;
            border-radius: 20px;
            padding: 45px;
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            gap: 10px;

            @media #{$lg,$md} {
                padding: 45px 20px;
            }

            @media #{$xs} {
                padding: 45px 20px;
                grid-template-columns: 1fr;
            }

            @media #{$sm} {
                padding: 45px 20px;
                grid-template-columns: 1fr 1fr;
            }

        }

        &-icon {
            i {
                color: var(--gly-heading-1);
                font-size: 60px;
                line-height: 1;
            }
            .title  {
                font-size: 27px;
            }
        }
    }
}


.gly-list-1 {
    display: grid;
    gap: 10px 0;

    li {
        font-family: var(--gly-pr-font);
        font-weight: 800;
        text-transform: capitalize;
        line-height: 1.42;
        font-size: 21px;
        color: var(--gly-heading-1);
        
        @media #{$lg,$md,$xs} {
            font-size: 18px;
        }

        i {
            font-size: 12px;
            margin-right: 10px;
            display: inline-block;
            line-height: 1;
            transform: translateY(-2px);
            background: var(--gly-gd-1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}


/* 
    services-1-css-end
*/


/* 
    services-2-css-start
*/
.gly-services-2 {
    &-area {
        background: #030406;
    }

    &-item {
        .subtitle {
            font-size: 19px;
            line-height: 1;
            display: inline-block;
            position: relative;
            z-index: 1;
            margin-bottom: 36px;

            &::after {
                content: "";
                width: 100%;
                height: 2px;
                background: #0bb79e;
                position: absolute;
                left: 0;
                bottom: -11px;
            }
        }

        .item-icon {
            flex: 0 0 auto;
            width: 56px;
            height: 92px;
            background: var(--gly-gd-1);
            border-radius: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1;
            color: #fff;
            font-size: 40px;

            i {
                display: inline-block;
                line-height: 1;
                margin-top: 10px;
            }
        }

        .title-wrap {
            display: flex;
            align-items: center;
            gap: 20px;
            max-width: 294px;
            margin-bottom: 25px;
        }

        .item-title {
            font-size: 30px;
            line-height: 1.33;
        }

        .item-disc {
            max-width: 410px;
            margin-bottom: 25px;
        }
        
        &-btn {
            background: var(--gly-gd-1);
            display: inline-block;
            border-radius: 50px;

            .gd-border {
                display: inline-block;
                font-family: var(--gly-pr-font);
                font-weight: 600;
                background-clip: padding-box;
                text-transform: capitalize;
                color: #fff;
                line-height: 1;
                border: 1px solid transparent;
                font-size: 16px;
                padding: 16px 37px;
                border-radius: 50px;
                background-color: #000;
                transition: 400ms var(--cube-1);
    
                i {
                    margin-left: 3px;
                    font-size: 10px;
                    display: inline-block;
                    position: relative;
                    top: -1px;
                    transition: 400ms var(--cube-2);
                }
            }

            &:hover {
                .gd-border {
                    background-color: transparent;
                    i {
                        transform: rotate(360deg);
                    }
                }
            }

            
        }
        
        
    }
    
}



/* 
    services-2-css-end
*/


