@use '../abstracts/variables' as *;
/* 
    testimonial-1-css-start
*/

.gly-testimonial-1 {

    &-section-title {
        max-width: 900px;
    }

    &-img {
        &-wrap {
            display: grid;
            grid-template-columns: 1fr auto;
            justify-items: end;
            gap: 25px;
        }

        width: 172px;
        height: 165px;
        border-radius: 150px 0 0 0;
    }

    &-item {
        display: grid;
        grid-template-columns: 1fr 1.3fr;
        gap: 65px;
        align-items: center;

        @media #{$lg} {
            gap: 35px;
        }

        @media #{$md,$xs} {
            gap: 35px;
            grid-template-columns: 1fr;
        }

        &-left {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 30px;
        }
        

        &-img-1 {
            width: 172px;
            height: 165px;
            border-radius: 150px 0 0 0;
            overflow: hidden;
            transform-origin: right bottom;
            transform: rotate(270deg);
            transition: 1s var(--cube-2);
            transition-delay: 0;
        }

        &-img-2 {
            border-radius: 0 190px  0 0;
            overflow: hidden;
        }
        
        &-content {
            margin-top: -30px;
            opacity: 0;
            transform: translateX(100px);
            transition: 1s var(--cube-2);
            transition-delay: 0s;

            @media #{$xl,$lg,$md,$xs} {
                margin-top: 0px;
            }
            
            .icon {
                font-size: 100px;
                line-height: 1;
                display: inline-block;
                color: #2196F3;
            }

            &-comment {
                font-size: 18px;
                line-height: 32px;
                color: var(--gly-heading-2);
                margin-bottom: 20px;
                max-width: 664px;

            }
        }

        &-author-name{
            font-size: 21px;
            line-height: 21px;
            margin-bottom: 5px;
        }

        &-author-bio {
            font-size: 17px;
            font-weight: 500;
            color: var(--gly-heading-2);
            line-height: 32px;
        }
    
    }
    
}

.gly-testimonial-1 {
    &-slider {
        margin-top: -100px;
        position: relative;
        z-index: 1;

        @media #{$xl} {
            margin-top: -70px;  
        }

        @media #{$lg} {
            margin-top: -30px;  
        }

        @media #{$md,$xs} {
            margin-top: 30px;  
        }

        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    &:is(.swiper-slide-active) {
                        .gly-testimonial-1-item-img-1 {
                            transform: rotate(360deg);
                            transition-delay: .5s;
                        }
                        .gly-testimonial-1-item-content {
                            transform: translateX(0px);
                            opacity: 1;
                            transition-delay: 0.5s;
                        }
                    }
                }
            }
        }

        &-btn {
            position: absolute;
            bottom: 0;
            width: 54%;
            right: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            @media #{$xl,$lg,$md} {
                position: unset;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;
            }

            @media #{$xs} {
                position: unset;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;
            }

            .swiper-pagination {
                font-size: 20px;
                font-weight: 800;
                color: #363539;
                display: inline-block;
                position: unset;
                text-align: left;
                margin-top: 7px;
            }
        }
    }
}

.gly-slider-btn {
    display: flex;
    align-items: center;
    gap: 10px;


    &-arrow {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        background: #dfe0e5;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        font-size: 22px;
        flex: 0 0 auto;
        color: var(--gly-heading-1);
        transition: 400ms var(--cube-2);
        position: relative;
        z-index: 1;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: var(--gly-gd-1);
            border-radius: 50%;
            z-index: -1;
            transform: scale(0);
            transition: 400ms var(--cube-2);

        }

        i {
            display: inline-block;
            margin-top: 4px;
        }

        &:hover {
            color: #fff;
            transform: scale(102%);
            &::after {
                transform: scale(1);
            }
        }
    }
}

/* 
    testimonial-1-css-end
*/


/* 
    testimonial-2-css-start
*/

.gly-testimonial-2 {

    &-area  {
        position: relative;
        z-index: 1;
    }

    &-item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 30px;
        position: relative;
        z-index: 1;
        padding: 90px 110px;
        padding-left: 270px;

        @media #{$xl} {
            padding-left: 170px;
        }

        @media #{$lg,$md} {
            padding: 0px 0px;
            padding-left: 0px;
        }

        @media #{$xs} {
            padding: 0px 0px;
            padding-left: 0px;
            grid-template-columns: auto;
        }

        @media #{$sm} {
            padding: 0px 0px;
            padding-left: 0px;
            grid-template-columns: auto 1fr;
        }

        &::after {
            content: "";
            width: 575px;
            height: 575px;
            border-radius: 50%;
            background: var(--gly-gd-1);
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 30%;
            transform: translateY(-50%);
            opacity: 0;
            transition: 1s var(--cube-2);
            transition-delay: 0s;

            @media #{$lg} {
                width: 375px;
                height: 375px;
            }

            @media #{$md} {
                width: 333px;
                height: 333px;
            }

            @media #{$xs} {
                width: 250px;
                height: 250px;
            }

            @media #{$sm} {
                width: 333px;
                height: 333px;
            }
        }

        .subtitle {
            font-size: 17px;
            font-weight: 200;
            text-transform: uppercase;
            display: inline-block;
            margin-bottom: 10px;
        }

        .comment {
            font-size: 30px;
            line-height: 1.66;
            margin-bottom: 80px;

            @media #{$md} {
                font-size: 25px;
            }

            @media #{$xs} {
                font-size: 22px;
            }
        }

        .person-wrap {
            display: flex;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;

            .person-img {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                overflow: hidden;
            }

            .name {
                font-size: 23px;
                margin-bottom: 12px;
            }

            .reating {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 19px;
                color: #ea9034;
            }
            
            
        }
        
    }
}

.gly-testimonial-2-slider {
    position: relative;
    z-index: 1;

    .swiper-container {
        .swiper-wrapper {
            .swiper-slide {
                &:is(.swiper-slide-active) {
                    .gly-testimonial-2-item::after {
                        left: 10%;
                        opacity: 1;
                        transition-delay: 1s;
                    }
                }
            }
        }
    }



    .gly_t2_prev {
        position: absolute;
        top: 50%;
        left: -45px;
        transform: translateY(-50%);
        
        @media #{$lg,$md,$xs} {
            position: unset;
            transform: unset;
            left: unset;
        }
    }

    .gly_t2_next {
        position: absolute;
        top: 50%;
        right: -45px;
        transform: translateY(-50%);

        @media #{$lg,$md,$xs} {
            position: unset;
            transform: unset;
            right: unset;
        }
    }

    &-btn {
        @media #{$lg,$md,$xs} {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-top: 50px;

            .gly-slider-btn-1 {
                position: relative;
            }
        }
    }
}

.gly-earth {
    &-animation {
        position: absolute;
        left: 50%;
        bottom: -960px;
        width: 70%;
        transform: translateX(-50%);

        @media #{$xxxl} {
            bottom: -720px;
        }

        @media #{$xxl} {
            bottom: -620px;
        }

        @media #{$xl} {
            bottom: -520px;
        }

        @media #{$lg} {
            bottom: -420px;
        }

        @media #{$md} {
            bottom: -320px;
        }

        @media #{$xs} {
            bottom: -100px;
        }
    }

}


/* 
    testimonial-2-css-end
*/

/* 
    testimonial-3-css-start
*/

.gly-testimonial-3 {
    &-area {
        position: relative;
        z-index: 1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);

        @media #{$md,$xs} {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
        }

        &::after {
            content: "";
            width: 100%;
            height: 336px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(90deg, rgba(0,80,255,1) 0%, rgba(0,233,204,1) 100%);
            z-index: 1;
            clip-path: polygon(0 0, 100% 65%, 100% 100%, 0 100%);

            @media #{$md,$xs} {
                height: 160px;
            }
        }

    }

    &-section-title {
        max-width: 610px;
    }

    &-bg-img {
        position: absolute;
        left: 0;
        bottom: 121px;
        width: 53%;
        text-align: right;
        z-index: 2;

        @media #{$xl} {
            width: 60%;
            
        }

        @media #{$lg} {
            width: 60%;
            bottom: 100px;
        }

        @media #{$md} {
            position: unset;
        }

        @media #{$xs} {
            position: unset;
            width: 100%;
            margin-bottom: -50px;
        }
    }
}

.gly-testimonial-3-slider-item {
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0 0 30px rgb(0 0 0 / 6%);

    @media #{$xs} {
        padding: 15px;
    }

    @media #{$sm} {
        padding: 35px;
    }

    .icon-rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .quote {
        font-size: 54px;
        display: inline-block;
        line-height: 0.6;
        color: var(--gly-pr-2);
    }

    .rating {
        font-size: 22px;
        line-height: 1;
        color: #FEB018;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .comment {
        font-size: 22px;
        line-height: 1.54;
        font-weight: 600;
        margin-bottom: 22px;

        @media #{$lg,$md,$xs} {
            font-size: 20px;
        }
    }

    .autho {
        font-size: 22px;
        line-height: 1.54;
        text-transform: uppercase;

        span {
            font-size: 16px;
            text-transform: capitalize;
            opacity: 70%;
            font-family: var(--inter);
            font-weight: 400;
        }
    }
    
}


.gly-testimonial-3-slider {
        position: relative;
        z-index: 1;
    
        &::after {
            content: "";
            width: 100%;
            height: 40%;
            background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 100%);
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;

            @media #{$xs} {
                display: none;
            }
        }

    .swiper-container{
        padding: 20px;

        @media #{$xs} {
            padding: 10px; 
        }
        @media #{$sm} {
            padding: 20px; 
        }

        .swiper-wrapper {
            height: 1110px;

            @media #{$lg} {
                height: 900px;
            }

            @media #{$md} {
                height: 700px;
            }

            @media #{$xs} {
                height: 680px;
            }

            @media #{$sm} {
                height: 450px;
            }
        }
    }
}

.gly-testimonial-3-slider-btn {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
    line-height: 2;
    z-index: 2;

    @media #{$xl,$lg,$md,$xs} {
        right: 30px;
        top: unset;
        transform: unset;
        bottom: 100px;
        
    }

    i {
        display: inline-block;
        line-height: 1;
        transition: 400ms var(--cube-1);
        cursor: pointer;

        &:hover {
            color: var(--gly-pr-2);
        }
    }


}


 
/* 
    testimonial-3-css-end
*/

 
/* 
    testimonial-4-css-start
*/
.gly-testimonial-4 {
    &-area {
        position: relative;
        z-index: 1;
    }
    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 63%;
        height: 100%;
        border-radius: 0 500px 500px 0;
        overflow: hidden;
        z-index: -1;

        @media #{$md,$xs} {
            width: 98%;
            border-radius: 0 10px 10px 0;
        }

        img {
            transform: scale(1.2);
        }
    }

    &-scn-title {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 0 20px;

        .gly-section-title-3 {
            color: #fff;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
            margin-bottom: 30px;
        }
    }

    

    &-slider-item {
        max-width: 575px;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0 0 30px rgb(0 0 0 / 10%);

        .top {
            display: grid;
            grid-template-columns: 1.3fr 2fr;
            gap: 15px;
            align-items: end;
            padding: 18px 15px;
            padding-bottom: 0;

            @media #{$xs} {
                display: flex;
                flex-direction: column-reverse;
                align-items: start;
            }

            @media #{$sm} {
                display: grid;
                grid-template-columns: 1.3fr 2fr;
                align-items: end;
            }
        }

        .comment {
            font-size: 16px;
            line-height: 1.5;
            position: relative;
            z-index: 1;
            margin-bottom: 30px;

            i {
                position: absolute;
                top: 50%;
                left: 42%;
                transform: translate(-50%, -50%);
                font-size: 280px;
                z-index: -1;
                color: var(--gly-pr-3);
                opacity: 12%;
                line-height: 1;

                @media #{$xxxl,$xxl,xl,$lg,$md,$xs} {
                    font-size: 140px;
                }
            }
        }
        
        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
            padding: 25px 30px;
            border-top: 1px solid rgb(3 6 23 / 12%);
        }

        .author-name {
            font-size: 20px;
            line-height: 1.5;
        }
        
        .gly-para-3 {
            font-size: 14px;
            display: inline-block;
            background: var(--gly-gd-2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &-slider {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
        
        .swiper-container {
            padding: 30px 0;
        }
    }
}



.gly-testimonial-5-slider-pagination {
    text-align: right;

    .swiper-pagination-bullet {
        font-size: 32px;
        font-weight: 500;
        font-family: var(--montserrat);
        color: #484655;
        opacity: 30%;
        line-height: 1;
        padding: 0 10px;
        background: transparent;
        transition: 500ms var(--cube-1);
        position: relative;
        z-index: 1;



        
        &::after {
            content: "";
            width: 0%;
            height: 2px;
            background: #d9d9d9;
            position: absolute;
            top: 15px;
            left: 43px;      
            @media #{$xs} {
                left: 28px;    
            }
        }

        &::before {
            content: "";
            width: 0%;
            height: 2px;
            background: var(--gly-gd-2);
            position: absolute;
            top: 15px;
            left: 43px;      
            z-index: 1;   
            
            @media #{$xs} {
                left: 28px;    
            }
        }


        &:is(.swiper-pagination-bullet-active) {
            opacity: 100%;
            color: var(--gly-pr-3);
            font-weight: 700;
            background: transparent;
            padding-right: 315px;

            @media #{$xs} {
                padding-right: 130px;
            }

            &::after {
                width: 86%;
            }

            &::before {
                width: 86%;
                transition: 5s linear;

                
            }

        }
    }
}


.gly-rating-1 {
    font-size: 20px;
    color: #FFC107;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3px;
}




 
/* 
    testimonial-4-css-end
*/