@use '../abstracts/variables' as *;

/* 
    home-1-heading-paragraph-css-start
*/

.gly-heading-1 {
    font-family: var(--gly-pr-font);
    line-height: 1.15;
    color: var(--gly-heading-1);
    text-transform: capitalize;
    margin-bottom: 0px;

    &:is(.has-white) {
        color: #fff;
    }
    &:is(.has-color-2) {
        color: var(--gly-heading-2);
    }
}


.gly-subtitle-1 {
    font-family: var(--gly-pr-font);
    text-transform: capitalize;
    display: inline-block;
    background: var(--gly-gd-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;

    i {
        display: inline-block;
        margin-right: 3px;
    }
}


.gly-para-1 {
    font-family: var(--gly-pr-font);
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
    color: var(--gly-para-1);
    margin-bottom: 0px;
    &:is(.has-white) {
        color: #fff;
    }

}

.gly-para-2 {
    font-family: var(--gly-pr-font);
    font-weight: 400;
    line-height: 32px;
    font-size: 18px;
    color: var(--gly-para-2);
    margin-bottom: 0px;
    &:is(.has-white) {
        color: #fff;
    }
}

.gly-section-title-1 {
    font-family: var(--gly-pr-font);
    font-size: 65px;
    font-weight: 900;
    line-height: 1.15;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: var(--gly-heading-1);

    @media #{$xxl} {
        font-size: 60px;
    }

    @media #{$xl} {
        font-size: 55px;
    }
    @media #{$lg} {
        font-size: 45px;
    }
    @media #{$md} {
        font-size: 40px;
    }
    @media #{$xs} {
        font-size: 30px;
    }
    @media #{$sm} {
        font-size: 35px;
    }

    &:is(.has-white) {
        color: #fff;
    }

    &:is(.has-color-2) {
        color: var(--gly-heading-2);
    }

    .has-stoke {
        font-family: var(--archivo);
        margin-left: 5px;
        -webkit-text-stroke: 2px var(--gly-heading-1);
        -webkit-text-fill-color: transparent;

        @media #{$xs} {
            -webkit-text-stroke: 1px var(--gly-heading-1);
        }

        
        &:is(.has-white) {
            -webkit-text-stroke: 2px #fff;

            @media #{$xs} {
                -webkit-text-stroke: 1px #fff;
            }
    
        }
    }
}


/* 
    home-1-heading-paragraph-css-end
*/

/* 
    home-2-heading-paragraph-css-start
*/

.gly-heading-2 {
    font-family: var(--gly-sd-font);
    line-height: 1.33;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 0px;

    &:is(.has-black) {
        color: #0A0D14;
    }

    &:is(.has-color-2) {
        color: var(--gly-heading-2);
    }
}




.gly-subtitle-2 {
    font-family: var(--gly-sd-font);
    text-transform: uppercase;
    display: inline-block;
    background: var(--gly-gd-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}


.gly-section-title-2 {
    font-family: var(--gly-sd-font);
    font-size: 70px;
    font-weight: 800;
    line-height: 1.15;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #fff;

    @media #{$xxxl} {
        font-size: 65px;
    }

    @media #{$xxl} {
        font-size: 60px;
    }

    @media #{$xl} {
        font-size: 55px;
    }
    @media #{$lg} {
        font-size: 45px;
    }
    @media #{$md} {
        font-size: 40px;
    }
    @media #{$xs} {
        font-size: 30px;
    }
    @media #{$sm} {
        font-size: 35px;
    }

}



/* 
    home-2-heading-paragraph-css-end
*/